{#
/**
 * @file
 * Styles page template, override this in your theme.
 */
#}
{% if styles is not empty %}
  <div class="container py-6 mx-auto">
    <div class="grid grid-cols-12">
      <div class="aside col-span-12 lg:col-span-3">
        <div  class="sticky">
          <h2 class="hidden">{{ "Available styles"|t }}</h2>
          {# List of available styles with anchor links. #}
          {% for group_name, group_styles in styles %}
            {% if styles|length > 1 %}<h3 class="title-xs mt-6 mb-1">{{ group_name }}</h3>{% endif %}
            <ul>
              {% for style in group_styles %}
                <li>
                  {# Anchor link. #}
                  <a href="#{{ style.id }}">{{ style.label }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
      <div class="col-span-12 lg:col-span-9">
        <div  class="flex-col flex gap-8">
        {% for group_styles in styles %}
          {% for style in group_styles %}
            <section class="flex flex-col gap-1">
            <h3 id="{{ style.id }}" class="mb-block-xs">{{ style.label }}</h3>
            {% if style.description %}<p class="mb-block-xs">{{ style.description }}</p>{% endif %}
            {% if style.render_links %}
              {# External documentation links. #}
              <div class="flex gap-2 mb-block-xs">
                {% for renderLink in style.render_links %}
                <span class="inline-flex justify-left gap-2 items-center max-w-full active:max-w-none active:z-1 rounded bg-gray-500 hover:bg-gray-300 rounded text-xs px-2.5 py-0.5 [&_svg]:w-[14px] [&_svg]:h-[14px] text-white " title="{{ tag }}">
                  <span class="text-white whitespace-nowrap break-keep text-ellipsis overflow-hidden">{{ renderLink }}
                  </span>
                  {% if renderLink['#attributes'].target == "_blank" %}
                    <svg class="arrows-arrow-up-right" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M24.9999 8V21C24.9999 21.2652 24.8946 21.5196 24.7071 21.7071C24.5195 21.8946 24.2652 22 23.9999 22C23.7347 22 23.4804 21.8946 23.2928 21.7071C23.1053 21.5196 22.9999 21.2652 22.9999 21V10.4137L8.70745 24.7075C8.51981 24.8951 8.26531 25.0006 7.99995 25.0006C7.73458 25.0006 7.48009 24.8951 7.29245 24.7075C7.1048 24.5199 6.99939 24.2654 6.99939 24C6.99939 23.7346 7.1048 23.4801 7.29245 23.2925L21.5862 9H10.9999C10.7347 9 10.4804 8.89464 10.2928 8.70711C10.1053 8.51957 9.99995 8.26522 9.99995 8C9.99995 7.73478 10.1053 7.48043 10.2928 7.29289C10.4804 7.10536 10.7347 7 10.9999 7H23.9999C24.2652 7 24.5195 7.10536 24.7071 7.29289C24.8946 7.48043 24.9999 7.73478 24.9999 8Z" fill="currentColor"></path>
                  </svg>
                  {% endif %}
                  </span>{% endfor %}
              </div>
            {% endif %}
              <div class="flex flex-col">
            {% for id, option in style.preview_options %}
              {% set option_attributes = create_attribute()
                              .addClass(id)
                            .addClass(option.previewed_with) %}
              {% set previewed_as = option.previewed_as %}
              {% set label = option.label %}
              {% if previewed_as == 'aside' %}
                <p>{{ label }} ({{ id }})</p>
                <div {{ option_attributes }}>{{ 'Example'|t }}
                </div>
              {% elseif previewed_as == 'hidden' %}
                <p>{{ label }} ({{ id }})</p>
              {% else %}
                <p {{ option_attributes }}>{{ label }} ({{ id }})
                </p>
              {% endif %}
              {% if option.description is not empty %}<p>{{ option.description }}</p>{% endif %}
            {% endfor %}
              </div>
            <hr>
            </section>
          {% endfor %}
        {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
<style>
  .aside .sticky {
    position: relative;
    padding-bottom : 50px;
  @media (min-width: 1024px) {
    position: sticky;
    top: 100px;
    margin-right: 50px;
    height : 100vh;
    overflow-y: auto;
    padding-bottom : 300px;
  }
  }
</style>
